<header>
<div class="head-top">
<p>INSTANT CURRENCY CONVERTION Currency Made Easy Quick & Simple Currency Converter INSTANT CURRENCY CONVERTION Currency Made Easy Quick & Simple Currency Converter INSTANT CURRENCY CONVERTION Currency Made Easy Quick & Simple Currency Converter</p>
</div>
<nav class="head-main">
    <h1 class="">Exchange</h1>   
    <div class="rates" id="">
      <h1>RATES</h1> 
      <ul class="">
        <li class="">
          <h3 class="" href="#">1$ USD: {{ usdToUah ? usdToUah : 'Loading...' }}hrn</h3>
        </li>
        <li class="">
          <h3 class="" href="#"> 1€ EUR: {{ eurToUah ? eurToUah : 'Loading...' }} hrn</h3>
        </li>
      </ul>
    </div>
  </nav>
  </header>